<div class="sidebar">
    <div class="sidebar-content">
        <div class="sidebar-module">
            <a href="/"><h1 class="sidebar-link">{{$ctrl.title}}</h1></a>
        </div>

        <div class="sidebar-module">
            <ul>
                <div ng-repeat="link in $ctrl.links">
                    <li> <a href="{{link.url}}" target="_blank" ng-if="link.external"><h4 class="sidebar-link">{{link.name}}</h4> </a></li>
                    <li> <a href="{{link.url}}" ng-if="!link.external"><h4 class="sidebar-link">{{link.name}}</h4> </a></li>
                </div>
            </ul>
        </div>

    </div>
</div>