<div class="content-body">
    <div class="container-fluid">
        <div class="post-list-item" ng-repeat="post in $ctrl.posts">
            <div class="row post-title">
                <div class="col-md-10 col-md-offset-1"><h1>{{post.entity.title}}</h1></div>
            </div>

            <div class="row post-attr">
                <div class="col-md-3 col-md-offset-1 text-muted small">{{post.entity.creationTime}}</div>
                <div class="col-md-3 text-muted small">
                    <a class="text-muted" href="#!/posts?tag={{post.entity.tag}}">{{post.entity.tag}}</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1" ng-bind-html="post.content | trustAsHtml"></div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                <a href="#!/posts/{{post.entity.name}}">
                  <p class="text-left">Read More ...</p></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <button type="button" class="btn btn-default bt-lg pull-left {{$ctrl.disable_forward}}" ng-click="$ctrl.forward()">
                    <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
                    Newer Post
                </button>

                <button type="button" class="btn btn-default bt-lg pull-right {{$ctrl.disable_backward}}" ng-click="$ctrl.backward()">
                    <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
                    Older Post
                </button>
            </div>
        </div>
    </div>
</div>

