.view-frame.ng-enter,
.view-frame.ng-leave {
    background: white;
    padding-bottom: 0;
    padding-top: 0;
}

.view-frame.ng-enter {
  animation: 0.5s fade-in;
}

.view-frame.ng-leave {
  animation: 0.5s fade-out;
}

.view-frame.ng-enter.ng-enter-active,
.view-frame.ng-move.ng-move-active {
  display:block;
  height: 120px;
  opacity: 1;
}

.view-frame.ng-leave.ng-leave-active {
  display:none;
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}
