body {
    font-family:'Play', Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
}

/* desktop screen */
@media (min-width: 992px) {
    .sidebar {
        position:fixed;
        top:0;
        left:0;
        bottom:0;
        width: 38rem;
    }

    .content {
        margin-left: 39rem;
    }

    .sidebar-content {
        padding-left: 3rem !important;
        width:36rem !important;
        position: absolute;
        bottom: 10rem;
    }

    .sidebar-link {
        text-align: left !important;
    }
}

.sidebar {
    padding:2rem 1rem;
    color:rgba(255,255,255,5);
    background: #202020;
}

.sidebar a,
.sidebar a:hover,
.sidebar a:visited,
.sidebar a:active,
.sidebar a:focus
{
    color:rgba(255,255,255,5);
    text-decoration: none;
}

.sidebar-content {
    width: 80%;
    margin:auto;
}

.sidebar-content ul {
    -webkit-padding-start: 0;
    padding: 0;
    list-style-type: none;
}

.sidebar h1 {
    font-size: 4rem;
}

.sidebar-module {
    padding: 1rem;
}

.sidebar-link {
    text-align: center;
}

.content {
    /*position: relative;*/
    padding-top:4rem;
    padding-bottom:4rem;
    color: #202020;
}

.content-body {
    width: 90%;
    margin:auto;
}

.post-list-item {
    padding-bottom:2rem;
}

.post-title {
    padding-bottom: 0.5rem;
}

.post-attr {
    padding-bottom: 2rem;
}

